<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
</head>
<body>
  <form action="/resultado" method="post">
  <p>Número 1:<input type="text" name="nmr1"></p>
  <p>Número 2:<input type="text" name="nmr2"></p>
  <p>Operação:<input type="text" name="op"></p>
  <input type="submit" value="Enviar">   
</form>
</body>
</html>
